// CONTACT CONTAINER
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    > h2 {
        color: rgb(135, 0, 0);
        font-family: $headerFont;
        font-size: 2.25rem;
        letter-spacing: 5px;
        text-align: center;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        .contact-top, .contact-bottom {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin: 2rem 0;
            .contact {
                margin: 1rem 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                & > i {
                    margin: 0.5rem;
                    transform: scale(1.5);
                    color: red;
                }
                & > a {
                    transition: 0.25s;
                    &:hover {
                        color: $blue !important;
                    }
                }
            }
        }
    }
}