// CONTACT CONTAINER
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    > h2 {
        // color: $blue;
        color: rgb(1, 255, 208);
        font-family: 'Rubik Moonrocks', cursive;
        font-size: 2rem;
    }
    .wpcf7-form {
        max-width: 360px;
        width: 360px;
        padding: 0.5rem;
        > p {
            padding: 1rem 0;
            color: $blue;
            &:nth-child(6) {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }
        }
        .wpcf7-submit {
            color: $white;
            border: none !important;
            border-radius: 2px;
            padding: 0.75rem 2rem;
            transition: 0.25s;
            background: $charcoal;
            &:hover {
                cursor: pointer;
                background: transparent;
                color: $blue;
            }
        }
        .wpcf7-spinner {
            position: absolute;
            left: 3rem;
        }
        .wpcf7-text, .wpcf7-textarea {
            background: $charcoal;
            border: none;
            border-radius: 2px;
            color: $white;
            padding: 0.5rem;
        }
        .wpcf7-not-valid-tip {
            position: absolute;
            margin: 0.25rem 0;
        }
        .wpcf7-response-output {
            position: absolute;
            width: 350px;
            margin: 0;
            padding: 5px;
        }
    }
}