
.site-footer {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    background: #000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    a {
        color: #fff !important;
        text-decoration: none;
    }
}

// 
// 

.fp-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .fp-wrapper-top {
        height: 100vh;
        width: 100%;
        background: $background;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
