

body {
    width: 100%;
    height: 100%;
    background: $background;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: $white;
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
    a {
        color: $white !important;
        text-decoration: none;
    }
}

// TOP PAGE BG
.top-bg-1, .top-bg-2 {
    position: absolute;
    mix-blend-mode: lighten;
    width: 60rem;
    filter: brightness(0.5);
}
.top-bg-1 {
    top: 0;
    left: 0;
}
.top-bg-2 {
    bottom: 0;
    right: 0;
    transform: rotateY(180deg);
}



// // FP CONTAINER
.fp-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .fp-wrapper-top {
        height: 100vh;
        width: 100%;
        background: $background;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
        .fp-text-container {
            text-align: right;
            margin: 1rem;
            padding: 1rem;
            text-shadow: 0 0 3px #000;
            line-height: 2rem;
            & > h2, & > h4, > h6 {
                color: $blue;
                margin: 0.25rem 0;
            }
        }
        .fp-img-container {
            width: 20rem;
            height: 30rem;
            position: relative;
            margin: 1rem;
            border-radius: 2px;
            .fp-img {
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 2rem;
                mix-blend-mode: difference;
            }
        }
    }

    // FP ABOUT
    .fp-about {
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            .about-me {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                text-align: center;
                line-height: 2rem;
                .about-title {
                    color: blueviolet;
                    margin: 0.5rem 0;
                }
                > h4 {
                    &:nth-child(2n+1) {
                        color: blue;
                    }
                }
                > p {
                    color: blueviolet;
                    margin-top: 1rem;
                }
            }
        }
    }

    .projects-container {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    // CONTACT CONTAINER
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
        > h2 {
            color: $blue;
        }
        .wpcf7-form {
            max-width: 360px;
            width: 360px;
            padding: 0.5rem;
            > p {
                padding: 1rem 0;
                color: $blue;
                &:nth-child(6) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
            }
            .wpcf7-submit {
                color: $white;
                background: transparent;
                border: 1px solid $white;
                border-radius: 2px;
                padding: 0.75rem 2rem;
                transition: 0.25s;
                &:hover {
                    // cursor: pointer;
                    background: $blue;
                }
            }
            .wpcf7-spinner {
                position: absolute;
                left: 3rem;
            }
            .wpcf7-text, .wpcf7-textarea {
                background: $charcoal;
                border: none;
                border-radius: 2px;
                color: $white;
                padding: 0.5rem;
            }
            .wpcf7-not-valid-tip {
                position: absolute;
                margin: 0.25rem 0;
            }
            .wpcf7-response-output {
                position: absolute;
                width: 350px;
                margin: 0;
                padding: 5px;
            }
        }
    }

}
