
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// For Headers
// Rahdhani
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
// $headerFont: 'Rajdhani', cursive;

// For Text
// Questrial
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

// ==================================
// CUSTOM FONTS
// ==================================


// @import url('http://fonts.cdnfonts.com/css/moto-verse');
@font-face {
    font-family: 'MOTO VERSE';
    src: url('sass/components/content/MotoVerse-yw5LM.otf');
}
$headerFont: 'MOTO VERSE', sans-serif;


// @import url('http://fonts.cdnfonts.com/css/kindness-abstract');
// font-family: 'Kindness Abstract', sans-serif;
@font-face {
    font-family: 'Kindness Abstract';
    src: url('sass/components/content/Kindness Abstract.otf');
}