
.fp-nav {
    position: fixed;
    top: 0;
    left: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 4rem;
    border-radius: 2px;
    z-index: 99;
    border-left: 5px solid gold;
    .fp-site-branding {
        font-family: 'Kindness Abstract', sans-serif;
        margin: 0.5rem;
        color: red;
        text-align: center;
    }
    & > a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        & > i {
            transform: scale(1.25);
            transition: 0.25s;
            color: gold;
        }
        & > span {
            display: none;
            position: absolute;
            left: 4.5rem;
            padding: 0.25rem 0.5rem;
            border-left: 5px solid gold !important;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background: rgba(0,0,0,0.75);
            letter-spacing: 1px;
            font-size: 1.25rem;
            font-family: 'Rajdhani', sans-serif;
        }
        &:hover {
            & > span {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .fp-nav {
        top: 0;
        width: 100%;
        flex-direction: row;
        border-left: none;
        border-top: 3px solid gold;
        .fp-site-branding {
            margin: 0.5rem 0.5rem 0.5rem 0;
            font-size: 1rem;
            transform: rotate(0deg);
        }
        & > a {
            margin: 1rem;
            &:hover {
                & > span {
                    display: none;
                }
            }
        }
    }
}

#wpadminbar {
    display: none !important;
}